h1{
    color: aquamarine;
    text-align: center;
    padding: auto;
}
img{
    margin: 20% 40%;
}
h2{
    color: bisque;
    display: block;
    flex-wrap: nowrap;
    text-decoration: none;
}
a :hover{
    background-color: azure;
}