h1 {
    font-size: 70px;
    color: green;
  }
img{
    margin: 20% 40%;
}
h2{
    color: bisque;
    display: block;
    flex-wrap: nowrap;
    text-decoration: none;
}
p {
    color: red;
  }
a :hover{
    background-color: azure;
}
tr{
    background-color: azure;
}
tr td :hover{
     color: red;
}